In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
# Import API key
import gmaps
# Google developer API key
from config import gkey
from datetime import date
# Configure gmaps
gmaps.configure(api_key=gkey)
from pprint import pprint
import itertools
from ipywidgets.embed import embed_minimal_html

In [11]:
bird_df=pd.read_csv("../bird-us-cities-Adri/051721_City_Level_DATA Bird_Lat_Lon.csv")
spin_df=pd.read_csv("../spin-us-cities/051721_City_Level_Spin_Lat_Lon.csv")
lime_df=pd.read_csv("../lime-us-cities/051721_City_Level_DATA_Lime_Lat_Lon.csv")

In [13]:
combined_df = bird_df.append(lime_df)
combined_df = combined_df.append(spin_df)
combined_df = combined_df.loc[combined_df['Count']>0]
combined_df

,Unnamed: 0,lat,lon,City,Operator,Count,Date
0,0,38.818551,-77.086283,"Alexandria, VA",Bird,324,2021-05-17
1,1,41.829070,-87.677237,"Chicago, IL",Bird,606,2021-05-17
2,2,41.516952,-81.640884,"Cleveland, OH",Bird,38,2021-05-17
3,3,39.987058,-83.018589,"Columbus, OH",Bird,73,2021-05-17
4,4,34.057228,-118.379876,"Culver City, CA",Bird,75,2021-05-17
...,...,...,...,...,...,...,...
73,73,28.538335,-81.379237,"Orlando, FL",Spin,141,5/17/2021
76,76,38.907192,-77.036871,"Washington, DC",Spin,1708,5/17/2021
77,77,38.580461,-121.530234,"West Sacramento, CA",Spin,60,5/17/2021
78,78,47.508567,-122.355116,"White Center, WA",Spin,25,5/17/2021
80,80,36.099860,-80.244216,"Winston Salem, NC",Spin,227,5/17/2021

In [15]:
combined_df.to_csv('Bird_Spin_Lime_Lat_Lon.csv')

In [16]:
locations = combined_df[['lat','lon']]
            
locations

count = combined_df["Count"]
count

0      324
1      606
2       38
3       73
4       75
      ...
73     141
76    1708
77      60
78      25
80     227
Name: Count, Length: 66, dtype: int64

In [22]:

#generating the heat map using the city(lat and lon values) with
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = count,
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
embed_minimal_html('e-scooter_heatmap.html', views=[fig])
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#look at google gmaps documentation
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Operator Name</dt><dd>{Operator}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>E-Scooters</dt><dd>{Count}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
escooter_info = [info_box_template.format(**row) for index, row in combined_df.iterrows()]
locations = combined_df[["lat", "lon"]]

In [19]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=escooter_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))